<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHKJM Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="adminList_style.css">
</head>

<body>
    <!-- header -->
    <div>
        <header class="d-flex flex-wrap justify-content-center px-5 py-3 mb-4 border-bottom">
            <a href="../list/adminList.html" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <span class="fs-4">SHKJM Admin</span>
            </a>
            <button type="button" class="btn btn-secondary" onclick="redirectToIndex()">Logout</button>
        </header>
    </div>

    <div class="select_district">
        <select id="districtSelect" onchange="filterItemsByDistrict()">
            <option value="1" selected>District 1</option>
            <option value="2">District 2</option>
            <option value="3">District 3</option>
            <option value="4">District 4</option>
            <option value="5">District 5</option>
            <option value="6">District 6</option>
            <option value="7">District 7</option>
            <option value="8">District 8</option>
            <option value="9">District 9</option>
            <option value="10">District 10</option>
            <option value="11">District 11</option>
            <option value="12">District 12</option>
        </select>
        <button id="addButton" type="button" class="btn btn-primary">Add</button>
    </div>
    <div class="container">
        <!-- lets make contents here! -->
        <div class="pb-3 mb-0 small lh-sm border-bottom row">
            <div class="row", id="titles">
                <div class="col-3"> Picture </div>
                <div class="col-5"> Title </div>
                <div class="col-1">Price</br>(Billion)</div>
                <div class="col-2"></div>
            </div>
            <div class="col-12 row", id="datatable">

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

<script src="adminList_script.js"></script>

</html>