.select_district{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: first baseline;
    border-radius: 10px;
}
#addButton{
    width: 100px;
}

#districtSelect{
    width: 340px;
    position: relative;
    padding: 10px 10px 10px 30px;
    margin: 10px 10px 10px 10px;

    cursor: pointer;
    list-style:none;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    background-color: rgb(203, 203, 203);
}

#titles{
    font-size: 20px;
    font-weight:bold;
}


button{
    height: 38px;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.col-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-5{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-3{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 800px) {
    .btn.btn-secondary {
        margin-left: 10px;
    }
}


@media (max-width: 770px) {
    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .btn.btn-success.col-1.mx-1{
        width: 50%;
        margin-top: 10px;
    }

    .btn.btn-danger.col-1.mx-1{
        width: 50%;
        margin-top: 10px;
    }
}